<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers/{{ place.id }}"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button type="submit" (click)="onUpdateOffer(f)">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form #f="ngForm">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input ngModel name="title" type="text" autocomplete [ngModel]="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea ngModel name="description" rows="3" [ngModel]="place.description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
